* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h1 {
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
}

section article {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  text-align: center;
  margin-bottom: 25px;
  padding: 5px;
  cursor: pointer;
  transition: box-shadow 1s;
}

section article:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 2px 2px rgb(93, 93, 93);
}

section article img {
  object-fit: cover;
  width: 95%;
  height: 180px;
}

section article h3 {
  font-weight: 900;
}

aside {
  width: 30%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside h3 {
  text-align: center;
}

aside ul {
  width: 96%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside ul li {
  height: 59px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: tomato;
  color: white;
  font-size: x-large;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: (font-size 2s);
}

aside ul li:hover {
  background-color: rgb(243, 181, 170);
  color: darkgreen;
  font-size: xx-large;
}

@media screen and (max-width: 750px) {
  section {
    width: 90%;
  }

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  article .contenedor_article p {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  section {
    width: 100%;
  }

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  article .contenedor_article p {
    display: none;
  }
}
